@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.wrapper {
  grid-area: overlap;
}

/*Legal Documents Container*/
.viewDocumentContainer {
  grid-area: overlap;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.viewDocumentBackground {
  background-color: #333;
  padding: 20px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  color: #e9ecef;
}

.viewDocumentContents {
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  margin-right: 10px;
}

.viewDocumentCloseButton {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.viewDocumentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.viewDocumentView {
  margin-bottom: 10px;
}

.confirmationWindowContainer {
  grid-area: overlap;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 99;
}

.confirmationWindowBackground {
  background-color: white;
  padding: 20px;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.confirmationWindowContents {
  text-align: center;
  margin-top: 10px;
}

.closeConfirmationButtonRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.closeConfirmationButtonProceed {
  cursor: pointer;
}

.closeConfirmationButtonCancel {
  cursor: pointer;
}

.confirmationContainer {
  grid-area: overlap;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 99;
}

.confirmationBackground {
  background-color: white;
  padding: 20px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
}

.confirmationButtonContainer {
  display: flex;
  justify-content: space-around;
}

/* Viewing Map Styles */
.mapContainer {
  grid-area: overlap;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapBackground {
  background-color: #333;
  padding: 20px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
}

.mapClose {
  background-color: rgb(35, 21, 111);
  width: 100%;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.mapContents {
  width: 100%;
  height: 100%;
}

.pageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.275rem;
  color: var(--bs-emphasis-color);
}

/* Layout for Admin Dashboard Skeleton */

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: var(--bs-dark);
  transition: all 0.35s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: var(--bs-dark-bg-subtle);
}

/* Sidebar Elements Style */

.sidebar-logo {
  padding: 1.15rem;
}

.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.sidebar-header {
  color: #e9ecef;
  font-size: 0.75rem;
  padding: 1.5rem 0.8rem 0.75rem;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

/* Collapsible Button for Sidebar */

#sidebar.collapsed {
  margin-left: -264px;
}
